{% set route = app.request.attributes.get('_route') %}
{% set slug = app.request.get('slug') %}
{% set queryParameters = app.request.query.all|unset_elements(['order_by', 'sort', 'page']) %}
{% set sortBy = app.request.query.get('sort') %}

<div class="filter-widget m-2 d-lg-none">
	<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-mobile-sort">
		<span>
			<span class="sorting-title me-2">Sort by:</span>
			<span class="active-sorting">Featured</span>
		</span>
		<span class="faq-heading-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
				<polyline points="6 9 12 15 18 9"></polyline>
			</svg>
		</span>
	</div>
	<div id="filter-mobile-sort" class="accordion-collapse collapse show">
		<ul class="sorting-lists-mobile list-unstyled m-0">
			{% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/Index/_sortEntries.html.twig' %}
		</ul>
	</div>
</div>