   <div class="newsletter-section mt-100 overflow-hidden">
                <div class="newsletter-inner">
                    <div class="position-relative">
                        <img class="single-banner-img" src="{{ asset('assets/img/newsletter/2.jpg') }}" alt="slide-1">

                        <div class="content-absolute">
                            <div class="container height-inherit d-flex align-items-center justify-content-center">
                                <div class="content-box py-4">
                                    <div class="newsletter-content newsletter-content-2 text-center">
                                        <div class="newsletter-header">
                                            <p class="newsletter-subheading heading_24">News Letter</p>
                                            <h2 class="newsletter-heading heading_42">Subscribe to our newsletter</h2>
                                        </div>
                                        <div class="newsletter-form-wrapper">
                                            <form action="#" class="newsletter-form d-flex align-items-center rounded">
                                                <input class="newsletter-input bg-transparent border-0" type="email"
                                                    placeholder="Enter your e-mail" autocomplete="off">
                                                <button class="newsletter-btn rounded" type="submit">
                                                    <svg width="17" height="14" viewBox="0 0 17 14" fill="#fff"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M9.11539 -0.000488604L7.50417 1.99951L11.5769 5.59951L0.500001 5.59951L0.500001 8.19951L11.7049 8.19951L7.50417 11.4995L8.70513 13.9995L16.5 7.19951L9.11539 -0.000488604Z"
                                                            fill="#FEFEFE" />
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>