 <div class="single-banner-section mt-100 overflow-hidden">
                <div class="position-relative overlay">
                    <img class="single-banner-img" src="{{ asset('assets/img/banner/single-banner.jpg') }}" alt="slide-1">

                    <div class="content-absolute content-slide">
                        <div class="container height-inherit d-flex align-items-center">
                            <div class="content-box single-banner-content py-4">
                                <h2 class="single-banner-heading heading_42 text-white animate__animated animate__fadeInUp"
                                    data-animation="animate__animated animate__fadeInUp">
                                    Climb up to the mountain with NIK
                                </h2>
                                <p class="single-banner-text text_16 text-white animate__animated animate__fadeInUp"
                                    data-animation="animate__animated animate__fadeInUp">
                                    Free shipping, and no hassle returns. NIK Running shoes for men & women
                                </p>
                                <a class="btn-primary single-banner-btn animate__animated animate__fadeInUp"
                                    href="collection-left-sidebar.html"
                                    data-animation="animate__animated animate__fadeInUp">
                                    SHOP NOW
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>