<main
	id="MainContent" class="content-for-layout">
	<!-- slideshow start -->
	{% include '@SyliusShop/Homepage/slideshow/_slideshow.html.twig' %}
	<!-- slideshow end -->

	<!-- trusted badge start -->
	{% include '@SyliusShop/Homepage/partials/_trusted_badge.html.twig' %}
	<!-- trusted badge end -->

	<!-- banner start -->
	{# {% include '@SyliusShop/Homepage/partials/_banner.html.twig' %} #}
	<!-- banner end -->

	<!-- collection start -->
	{% include '@SyliusShop/Homepage/_featured_products.html.twig' %}
	<!-- collection end -->

	<!-- banner start -->
	{% include '@SyliusShop/Homepage/banner/dual_category_banner.html.twig' %}
	<!-- banner end -->

	
	<!-- collection start -->
	{% include '@SyliusShop/Homepage/_latest_products.html.twig' %}
	<!-- collection end -->

	<!-- shop by category start -->
	{# {% include '@SyliusShop/Homepage/_shop_by_category.html.twig' %} #}
	<!-- shop by category end -->

	<!-- video start -->
	{# {% include '@SyliusShop/Homepage/partials/_embedded_video.html.twig' %} #}
	<!-- video end -->

	<!-- testimonial start -->
	{% include '@SyliusShop/Homepage/partials/_testimonials.html.twig' %}<!-- testimonial end -->
	<!-- single banner start -->
	{% include '@SyliusShop/Homepage/partials/_single_banner.html.twig' %}
	<!-- single banner end -->

	<!-- latest blog start -->
	{% include '@SyliusShop/Homepage/partials/_lastest_blog.html.twig' %}
	<!-- latest blog end -->

	
	<!-- news letter start -->
	{% include '@SyliusShop/Homepage/partials/_news_letter.html.twig' %}
	<!-- news letter end -->


	<!-- brand logo start -->
{% include '@SyliusShop/Homepage/partials/_brand_logo.html.twig' %}
	<!-- brand logo end -->
</main>
