<div class="shop-category mt-100 overflow-hidden">
                <div class="collection-tab-inner mt-0">
                    <div class="container">
                        <div class="section-header text-center">
                            <h2 class="section-heading primary-color">Shop By Category</h2>
                        </div>
                        <div class="shop-category-2 shop-category-inner">
                            <div class="scattered-item" data-aos="fade-left" data-aos-duration="700">
                                <div class="scattered-wrapper">
                                    <div class="scattered-content">
                                        <img class="scattered-img" src="{{ asset('assets/img/banner/f4.jpg') }}" alt="img">
                                    </div>
                                    <div class="scattered-details">
                                        <h2 class="scattered-heading primary-color">Home Decor</h2>
                                        <a href="collection-left-sidebar.html"
                                            class="text_12 link-underline d-block primary-color mt-2">
                                            SHOP COLLECTION
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="scattered-item" data-aos="fade-right" data-aos-duration="700">
                                <div class="scattered-wrapper">
                                    <div class="scattered-content">
                                        <img class="scattered-img" src="{{ asset('assets/img/banner/f5.jpg') }}" alt="img">
                                    </div>
                                    <div class="scattered-details">
                                        <h2 class="scattered-heading primary-color">Storage Furniture</h2>
                                        <a href="#2" class="text_12 link-underline d-block primary-color mt-2">
                                            SHOP COLLECTION
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="scattered-item" data-aos="fade-left" data-aos-duration="700">
                                <div class="scattered-wrapper">
                                    <div class="scattered-content">
                                        <img class="scattered-img" src="{{ asset('assets/img/banner/f6.jpg') }}" alt="img">
                                    </div>
                                    <div class="scattered-details">
                                        <h2 class="scattered-heading primary-color">Black Cusion Chair</h2>
                                        <a href="#3" class="text_12 link-underline d-block primary-color mt-2">
                                            SHOP COLLECTION
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>