{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="form-group">
	<input id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="form-control" type="number" value="{{form.vars.value}}" placeholder="{{money.format(form.vars.data ?? 0, form.vars.currency)}}" min="0">
</div>
