{# {% set modalName = 'product:' ~ product.id ~ '-' ~ 'quickview-modal' %} #}
<div v-if="productQuickPreviewOpen" class="modal fade" tabindex="-1" id="{{ modalName }}">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% include '@SyliusShop/Product/_preview.html.twig' %}
			</div>
		</div>
	</div>
</div>
