{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="row">
	<div class="col-lg-6 col-md-12 col-12">
		{% include '@SyliusShop/Product/Gallary/_gallary.html.twig' %}
	</div>
	<div class="col-lg-6 col-md-12 col-12">
		{% include '@SyliusShop/Product/Show/_product_details.html.twig' %}
	</div>
</div>
