<!DOCTYPE html>

<title>New PurchaseOrder</title>

{% block body %}
    <h1>Create new PurchaseOrder</h1>

    {{ include('admin/stock/purchase_order/_form.html.twig') }}

    <a href="{{ path('app_admin_stock_purchase_order_index') }}">back to list</a>
{% endblock %}
