<div class="row">
	<div class="col">
		<a href="{{ path('sylius_shop_homepage') }}" class="btn btn-outline-secondary">
			<i class="fa fa-arrow-left"></i>
			{{ 'sylius.ui.back_to_store'|trans }}</a>
	</div>
	<div class="col text-end">
		<button type="submit" id="next-step" class="btn btn-primary">
			<i class="fa fa-arrow-right"></i>
			{{ 'sylius.ui.next'|trans }}</button>
	</div>
</div>

{# <div class="shipping-address-area billing-area">
	<div class="minicart-btn-area d-flex align-items-center justify-content-between flex-wrap">
		<a href="cart.html" class="checkout-page-btn minicart-btn btn-outline-primary">BACK TO CART</a>
		<a href="checkout.html" class="checkout-page-btn minicart-btn btn-primary" style="background: #00234D;">PROCEED TO SHIPPING</a>
	</div>
</div> #}
