<div class="tab-content product-tab-content">
	<div id="details" class="tab-pane fade show active">
		{% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
	</div>
	<div id="attributes" class="tab-pane fade">
		{% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
	</div>
	<div id="reviews" class="tab-pane fade">
		{% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}
	</div>
</div>
