{% set product = order_item.variant.product %}
{% if inlineId is not defined %}
	{% set inlineId = 'product-' ~ product.id ~ '-inline' %}
{% endif %}
{% if cartFormId is not defined %}
	{% set cartFormId = inlineId ~'-' ~ 'sylius-product-adding-to-cart' %}
{% endif %}

{{ form_start(
		form, 
		{'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 
		'attr': {'id': cartFormId, '@submit':'(evt) => isAddingToCart? evt?.preventDefault() : addToCart(evt)', 'class': '', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}

<div style="display:none;">
	{{ form_row(form._token) }}
	{{ form_widget(form.cartItem.quantity, {'attr':{ 'class':'qty-input', 'v-model':'cartQuantity', 'style': 'display:none;'}}) }}
	{% if product.variantSelectionMethodChoice %}
		{% include '@SyliusShop/Product/Show/_variants.html.twig' %}
	{% else %}
		{% include '@SyliusShop/Product/Show/_options.html.twig' %}
	{% endif %}
</div>

<button type="submit" class="action-card action-addtocart">
	<div v-if="isAddingToCart" class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>

	<svg v-else class="icon icon-cart" width="24" height="26" viewbox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12 0.000183105C9.25391 0.000183105 7 2.25409 7 5.00018V6.00018H2.0625L2 6.93768L1 24.9377L0.9375 26.0002H23.0625L23 24.9377L22 6.93768L21.9375 6.00018H17V5.00018C17 2.25409 14.7461 0.000183105 12 0.000183105ZM12 2.00018C13.6562 2.00018 15 3.34393 15 5.00018V6.00018H9V5.00018C9 3.34393 10.3438 2.00018 12 2.00018ZM3.9375 8.00018H7V11.0002H9V8.00018H15V11.0002H17V8.00018H20.0625L20.9375 24.0002H3.0625L3.9375 8.00018Z" fill="#00234D"/>
	</svg>
</button>
{{ form_end(form, {'render_rest': false}) }}
